<p id="notice"><%= notice %></p>
<form action="/login" method="post" data-turbo="false">
  <label for="indie_auth_url">Web Address:</label>
  <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
  <p><button type="submit">Sign In</button></p>
</form>
