<p id="notice"><%= notice %></p>
<div class="mx-2">
<form action="/login" method="post" data-turbo="false">
  <label for="indie_auth_url">Web Address:</label>
  <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
  <p><button type="submit" class="my-2 py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg mx-10 text-blue-100 transition-colors duration-300">Sign In</button></p>
</form>
</div>
