<div class="px-3">
  <h1 class="my-3 text-2xl text-gray-700 font-bold">Edit book</h1>
  <%= render "form", book: @book %>
</div>
<br>

<div class='px-3'>
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</div>
