<div id="user_nav">
<% if current_user %>
  <a href="<%= current_user.url %>"><%= current_user.url %></a> | 
  <a href="/logout">Logout</a>
<% else %>
  <a href="/login">Login</a>
<% end %>
</div>
<div class="h-x-app h-app">
  <img src="/d25.jpg" class="u-logo">
  <h1 class="p-name">Books</h1>
</div>
