<p style="color: green"><%= notice %></p>

<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">Books</h1>

<div id="books" class="px-2">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<div class="px-3">
  <button class="py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg text-blue-100 transition-colors duration-300"><%= link_to "New book", new_book_path %></button>
</div>
