<%= form_with(model: [book, book.posts.build], data: {'turbo-frame': 'book-posts'}) do |form| %>
  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <button class="m-2 py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg text-blue-100 transition-colors duration-300"><%= form.submit( current_page?(action: 'edit') ? 'Update Post' : 'Create Post') %></button>
  </div>
<% end %>
