<%= turbo_frame_tag('book-logs') do %>
<section>
  <div id="no-logs">
    <% if book.logs.empty? %>
      No logs yet
    <% end %>
  </div>
  <div id="logs-list">
    <% book.logs.each do |log| %>
      <%= render log unless log.id.nil? %>
    <% end %>
  </div>
</section>
<% end %>
